.button--location,
.button--home {
  width: 204px;
  height: 72px;
  background-color: $color-almostblack;
  color: $color-white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  & > p {
    font-size: 20px;
  }
  &--arrow {
    background-color: $color-gold;
    width: 56px;
    height: 72px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*   &:hover {
    background-color: $color-gold;
    &--arrow:hover {
      background-color: $color-almostblack;
    }
  } */
}
