.grid-container {
  /*   border: 1px solid orange; */
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1.8fr 1fr 1fr 2fr 0.7fr;
  box-sizing: border-box;
  margin: auto;
  max-width: 1440px;
  height: 2554px;

  overflow: hidden;

  grid-template-areas:
    "cabecera cabecera cabecera"
    "cabecera cabecera cabecera"
    "principal principal principal"
    "principal principal principal"
    "principal principal principal"
    "footer footer footer";
}

.grid-container-location {
  box-sizing: border-box;
  margin: auto;
  max-width: 1440px;
  height: 1392px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas:
    "map map map"
    "textmap textmap textmap"
    "footer footer footer";
}
